$button-width-explore: 218px;
$button-width-order: 186px;


@mixin cta-button($button-width) {
  @include flex-param (row, center, center, 0px);
  @include text-font ($font-medium, 16px);
  width: $button-width;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($secondary-color, $primary-color);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 10px);
  color: white;
}