//add text-align: center somewhere, already on parent element on the homepage

///cta button

$button-width-explore: 218px;
$button-width-order: 186px;
$button-transition: opacity 250ms ease-in-out;


@mixin cta-button($button-width) {
  @include flex-param (row, center, center, 0px);
  @include text-font ($font-medium, 16px);
  width: $button-width;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($secondary-color, $primary-color);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 10px);
  color: white;
  position: relative;
  z-index: 1;
}

@mixin cta-button-hover-after($button-width) {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  background: linear-gradient(lighten($secondary-color, 4), lighten($primary-color, 4));
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0 4px 10px);
  transition: $button-transition;
}

///fav button

$fav-remove-border: -webkit-text-stroke 300ms ease-in-out, color 300ms ease-in-out;
$fav-color-in: transform 300ms ease-in-out, opacity 300ms ease-in-out;


@mixin fav-button {
  padding-top: 10px;
  width: 25px;
  height: 21px;
  -webkit-text-stroke: black 1px;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  transition: $fav-remove-border;
}

@mixin fav-button-after {
  content:"\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient($secondary-color, $primary-color);
  background-clip: text;
  color: transparent;
  transform: scale(0);
  opacity:0;
  padding-right:22px;
  padding-top:10px;
  transition: $fav-color-in;
}