
//General mixins used in more than one page

//fonts


@mixin font-logo($font-size) {
    font-family: "Shrikhand", serif;
    font-size: $font-size;
    color: #101010;
}

@mixin text-font($font-weight, $font-size) {
    font-family: "Roboto", sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
}

//flex

@mixin flex-param($flex-direction, $justify-content, $align-items, $gap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

//homepage


@mixin homepage-section-style($background-color) {
    padding-left: 17px;
    padding-right: 17px;
    background-color: $background-color;
}


// responsive

@mixin responsive($breakpoint) {
    @if $breakpoint == intermediate {
        @media screen and (min-width: 600px) {
            @content
        };
    }
    @if $breakpoint == medium {
        @media screen and (min-width: 768px) {
            @content
        };
    }
    @if $breakpoint == large {
        @media screen and (min-width: 992px) {
            @content
        };
    }
    @if $breakpoint == largest {
        @media screen and (min-width: 1200px) {
            @content
        };
    }
    @if $breakpoint == middlestep { //handles the function title
        @media screen and (min-width: 600px) and (max-width: 992px)  {
            @content
        };
    }
}