// Global variables

// Colors

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$accent-color: #99E2D0;
$accent-font-color: #008766;
$background-color-light:#F3F3F3;
$paler-dark-color: #353535;
//both location font color and footer background


// Font weights

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;