@import 
//global
'./global/resets', './global/layout', './global/variables', './global/mixins',
//sections
'./sections/header', './sections/footer',
//components
'./components/loader', './components/button', './components/favheart',
//pages
'./pages/homepage', './pages/menupage';



//look at:
/// responsive
/// animations (button/heart/loader/dish/green check)