@import 
//general
'./resets', './_variables', './mixins',
//sections
'./header',
'./footer',
//elements
'./loader', './buttons';




//Warning
//drop shadows show up as error and without the a on the validator?
//appear on mockup inspection but don't show on desktop?

body {
  min-width: 320px;
}


.location {
  height: 50px;
  background-color: #EAEAEA;
  color: $paler-dark-color;
  @include flex-param(row, center, center, 17px);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);
  //above disappears on desktop??

  &__icon {
  width: 12px;
  height: 16px;
  display: flex;
  }

  &__text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  }
}


.cta {
  @include homepage-section-style($background-color-light);
  padding-top: 39px;
  padding-bottom: 57px;
  @include flex-param(column, center, center, 18px);
  text-align: center;
  @include responsive (intermediate) {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  @include responsive (large) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  @include responsive (largest) {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }

  &__title {
    @include text-font($font-bold, 24px);
    display: flex;
    @include responsive (large) {
      font-size: 2.77vw;
    }
  }

  &__text {
    display: flex;
    @include text-font($font-light, 18px);
    color: $paler-dark-color;
    min-height: 41px;
    max-height: 46px;
    align-items: center;
  }

  &__button {
  @include cta-button($button-width-explore);
    &:hover{
      &::after {
        opacity: 1;

      }
    }
    &:not(:hover){
      &::after {
        opacity: 0;
        transition: $button-transition;
      }
    }
    &::after {
      @include cta-button-hover-after($button-width-explore);
    }
  }
}

.function {
  @include homepage-section-style(white);
  padding-top: 52px;
  padding-bottom: 67px;
  @include flex-param(column, normal, normal, 25px);
  @include responsive (intermediate) {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  @include responsive (large) {
    padding-left: 8vw;
    padding-right: 8vw;
  }
  @include responsive (largest) {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }

  &__title {
    @include text-font($font-bold, 24px);
    height: 31px;
    @include responsive (middlestep) {
      margin: auto;
    } 
  }

  &__steps {
    @include flex-param(column, normal, center, 24px);
    margin-left: 12px; /*offsets the number*/
    margin-right: 3px;
    @include responsive (large) {
      flex-direction: row;
    }
  }

}

.step {
    @include flex-param(row, normal,center, 0px);
    background-color: #F6F6F6;
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 4px 4px);
    position: relative;
    width: 100%;
    height: 72.38px;
    max-width: 335px;

  &__number {
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    @include text-font($font-medium, 14px);
    @include flex-param(row, center, center, 0px);
    height: 24px;
    width: 24px;
    position: absolute;
    left: -12px;
  }

  &__icon {
    color: #7E7E7E;
    position: absolute;
    left: 37px;
    font-size: 17.5px;
    
    &--focus {
      color: $primary-color;
    }
  }

  &__text {
    @include text-font($font-medium, 16px);
    position: absolute;
    left: 75px;
  }
}





.restaurants {
  @include homepage-section-style($background-color-light);
  padding-bottom: 66px;
  padding-top: 56px;
  @include flex-param(column, center, normal, 23px);
  @include responsive (intermediate) {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  @include responsive (large) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 8vw;
    padding-right: 8vw;
  }

  @include responsive (largest) {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
  }

  &__title{
    @include text-font($font-bold, 24px);
    padding-left: 3px;
    align-self: self-start;
  }

  &__sections {
    @include flex-param (column, center, normal, 18px);
    @include responsive (large) {
      gap: 40px;
    }
    @include responsive (largest) {
      gap: 50px;
    }
  }
  
  &__section {
    @include flex-param (column, center, normal, 18px);
    @include responsive (medium) {
      flex-direction: row;
    }
    @include responsive (large) {
      gap: 50px;
    }
    @include responsive (largest) {
      gap: 100px;
    }
  }
}

.restaurants-card {
  @include flex-param(column, normal, normal, 0px);
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 4px 4px);

  &__image {
    width: 100%;
    height: 174px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

    &--new {
      position: absolute;
      @include text-font($font-medium, 14px);
      background-color: $accent-color;
      color: $accent-font-color;
      width: 80px;
      height: 29px;
      top: 17px;
      right: 12px;
      border-radius: 2px;
      @include flex-param(row, center, center, 0px );
    }
  }

  &__content {
    @include flex-param(row, space-between, center, 0px);
    width: 100%;
    height: 77px;
  }

  &__text {
    padding-left: 14px;
  }

  &__title {
    @include text-font($font-bold, 18px);
    padding-bottom: 5px;
  }

  &__location {
    @include text-font($font-light, 17px);
  }

  &__fav {
    margin-right: 18px;
    display: flex;
    align-items: center;
  }
}







