@import './resets', './buttons';

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$accent-color: #99E2D0;
$accent-font-color: #008766;
$background-color-light:#F3F3F3;
$background-color-dark: #353535; //no?? that's the location font color

$font-family-logo: "Shrikhand", serif;
$font-h3: 24px bold "Roboto", sans-serif;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mixin pour titre

// main {
//   padding: 17px;
//   /*rajouter 3 aux titres alignés à gauche*/
// }

/*Google fonts imports */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
    

  /*** ***/

.header {
  height: 63px;
  background-color: white;
  padding: 0 17px;
  @include flex-center;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);

  .header__goback {
    height: 30px;
    width: 30px;
    @include flex-center;

  }
  .header__logo {
  text-align: center;
  height: 36px;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  padding: 0 17.5px;
  flex-grow: 1;
  }
}


.location {
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
@include flex-center;
  gap: 17px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);
  //above disappears on desktop
  .location__icon {
  width: 12px;
  height: 16px;
  display: flex;
  }
  .location__text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  }
}


.cta {
  padding-top: 39px; //not sure, calculations
  padding-bottom: 57px; //idem
  @include flex-center;
  flex-direction: column;
  .cta__title {
    display: flex;  
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;

  }
  .cta__text {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 35px;
    text-align: center;
  }
  .cta__button {
  @include cta-button($button-width-explore)
}
}







.footer {
  background-color: $background-color-dark;
  color: white;
  height: 186px;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  .footer__logo {
    font-family: "Shrikhand", serif;
    font-size: 18px;
    text-align: top left; // not working on devtools
    width: 137px;
    height: 27px;
    margin-bottom: 16px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer__navsection{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer__nav a{
    display: flex;
    align-items: center;
  }
}

//function


//restaurants

.restaurants {
  background-color: $background-color-light;
  padding-bottom: 66px;
  padding-top: 56px;
  padding-right: 17px;
  padding-left: 17px;
  @include flex-center;
  flex-direction: column;
  gap: 18px;
  .restaurants__title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 23px;
    padding-left: 3px; //not working
    align-self: self-start; //not working either
  }
  .restaurants-section {
    @include flex-center; //remove alignitemcenter to avoid the squish
    flex-direction: column;
    gap: 18px;
    .restaurants-card {
      @include flex-center; //this makes the image lower than the border! the justify content center is doing that
      flex-direction: column;
      width: 100%;
      height: 251px;
      border-radius: 15px;
      background-color: white;
      .restaurants-card__image {
        width: 100%;
        height: 174px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;

        }
    }
  }
}




//have section-title as a separate thing for h3?
//bold is already default though


//see devtools for débordements/overflow in several places

//attempt at mixin

@mixin homepage-section-style($background-color) {
  padding-left: 17px;
  padding-right: 17px;
  background-color: $background-color;
}

@mixin homepage-section-title($font-weight, $font-size) {
  font-family: "Roboto", sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
}