$primary-color: #9356DC;
$secondary-color: #FF79DA;
$accent-color: #99E2D0;
$accent-font-color: #008766;
$background-color-light:#F3F3F3;
$background-color-dark: #353535;

$font-family-logo: "Shrikhand", serif;
$font-h3: 24px bold "Roboto", sans-serif;

mixin pour titre

/*Google fonts imports */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
    

  /*** ***/
  .header{
    height: 63px;
    padding: 0 17px;
    display: flex;
    align-items: center;
    .header__goback {
      display: flex;
      height: 30px;
      width: 30px;
    }
    .header__logo {
    text-align: center;
    }
  }

  .location {
    border: 2px solid red;
  }

main {
  padding: 17px;
  /*rajouter 3 aux titres alignés à gauche*/
}

.footer {
  background-color: $background-color-dark;
  color: white;
  height: 186px;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  .footer__logo {
    font-family: "Shrikhand", serif;
    font-size: 18px;
    text-align: top left;
    width: 137px;
    height: 27px;
    margin-bottom: 16px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer__navsection{
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .footer__nav a{
    display: flex;
    align-items: center;
  }
}





  /*this should go in resets? */
  a {
    text-decoration: none;
    color: inherit;
  }
  button {
    background-color: none;
    border: none;
  }
  .fa-solid {
    display: inline-block;
  }
  body {
    margin: 0;
  }
  p {
    margin: 0;
  }