@import './resets', './buttons', './loader', './fav';

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$accent-color: #99E2D0;
$accent-font-color: #008766;
$background-color-light:#F3F3F3;
$paler-dark-color: #353535;
//both location font color and footer background


  //Note regarding animations
// look into custom checkboxes again, at least for the menu page?

//To-do: Loader with existing mixins for flex and font and variables

//drop shadows show up as error and without the a on the validator?


@mixin font-logo ($font-size) {
font-family: "Shrikhand", serif;
font-size: $font-size;
}


$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;


@mixin text-font ($font-weight, $font-size) {
  font-family: "Roboto", sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
}


@mixin homepage-section-style($background-color) {
  padding-left: 17px;
  padding-right: 17px;
  background-color: $background-color;
}



@mixin flex-param ($flex-direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}



.header {
  @include homepage-section-style(transparent);
  @include flex-param(row, center, center, 0px);
  height: 63px;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 2px 4px);
  //box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.15);

  &__goback {
   @include flex-param(row, center, center, 0px); 
    height: 30px;
    width: 30px;
    &--homepage {
      display: none;
    }
  }

  &__logo {
    @include font-logo(30px);
    text-align: center;
    height: 36px;
    padding: 0 17.5px;
    flex-grow: 1;
  }
}


.location {
  height: 50px;
  background-color: #EAEAEA;
  color: $paler-dark-color;
  @include flex-param(row, center, center, 17px);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);
  //above disappears on desktop

  &__icon {
  width: 12px;
  height: 16px;
  display: flex;
  }

  &__text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  }
}


.cta {
  @include homepage-section-style($background-color-light);
  padding-top: 39px; //not sure, calculations
  padding-bottom: 57px; //idem
  @include flex-param(column, center, center, 0px);
  text-align: center;

  &__title {
    @include text-font($font-bold, 24px);
    display: flex;
    padding-bottom: 20px;
  }

  &__text {
    display: flex;
    @include text-font($font-light, 18px);
    color: $paler-dark-color;
    padding-bottom: 35px;
  }

  &__button {
  @include cta-button($button-width-explore);
    &:hover{
      &::after {
        opacity: 1;
        transition: $button-transition;
      }
    }
    &:not(:hover){
      &::after {
        opacity: 0;
        transition: $button-transition;
      }
    }
    &::after {
      @include cta-button-hover-after($button-width-explore);
    }
  }
}

.function {
  @include homepage-section-style(white);
  padding-top: 52px;
  padding-bottom: 67px;
  @include flex-param(column, normal, normal, 25px);

  &__title {
    @include text-font($font-bold, 24px);
    height: 31px;
    text-align: start;
    vertical-align: top;
  }
  &__steps {
    @include flex-param(column, normal, center, 24px);
    margin-left: 12px; /*offsets the number*/
    margin-right: 3px;
  }

}

.step {
    @include flex-param(row, normal,center, 0px);
    background-color: #F6F6F6;
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 4px 4px);
    position: relative;
    width: 100%;
    height: 72.38px;

  &__number {
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    @include text-font($font-medium, 14px);
    @include flex-param(row, center, center, 0px);
    height: 24px;
    width: 24px;
    position: absolute;
    left: -12px;
  }

  &__icon {
    color: #7E7E7E;
    position: absolute;
    left: 37px;
    font-size: 17.5px;
    
    &--focus {
      color: $primary-color;
    }
  }
  &__text {
    @include text-font($font-medium, 16px);
    position: absolute;
    left: 75px;
  }
}





.restaurants {
  @include homepage-section-style($background-color-light);
  padding-bottom: 66px;
  padding-top: 56px;
  @include flex-param(column, center, normal, 18px);

  &__title{
    @include text-font($font-bold, 24px);
    padding-bottom: 23px;
    padding-left: 3px;
    align-self: self-start;
  }

  &__section {
    @include flex-param (column, center, normal, 18px);
  }
}

.restaurants-card {
  @include flex-param(column, normal, normal, 0px);
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 4px 4px);

  &__image {
    width: 100%;
    height: 174px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;

    &--new{
      position: absolute;
      @include text-font($font-medium, 14px);
      background-color: $accent-color;
      color: $accent-font-color;
      width: 80px;
      height: 29px;
      top: 17px;
      right: 12px;
      border-radius: 2px;
      @include flex-param(row, center, center, 0px );
    }
  }

  &__content {
    @include flex-param(row, space-between, center, 0px);
    width: 100%;
    height: 77px;
  }

  &__text {
    padding-left: 14px;
  }

  &__title {
    @include text-font($font-bold, 18px);
    padding-bottom: 5px;
  }

  &__location {
    @include text-font($font-light, 17px);
  }

  /*&__fav {
    padding-top: 7px;
    padding-right: 24px;
    width: 22px;
    height: 21px;
    position: absolute;
    &--inactive {
      opacity: 1;//change this back to 1 when needed
      z-index: 1;
      position: relative;
      top: 0;
      left: 0;
      //trying something here, remove later
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      &:hover {
        opacity: 0;
      }
    }
    &--active {
      opacity: 0;
      z-index: 2;
      position: relative;
      top: 0;
      left: -27px;
      color:white;
        &:hover {
        //animation: favorite 2s;
          opacity: 1;
          background-clip: content-box;
          color: white;
          // IMPORTANT MAKES BORDER
          
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          color:#9356DC;
          //
    }
    }

  } THIS!! Except with the right gradient, and combined with the built(in before
    &inactive {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
      background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
      background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }*/
  &__fav { //recovered this from the previous git push
    padding-top: 7px;
    padding-right: 24px;
    width: 22px;
    height: 21px;
  }
}


// is the heart a link?

@keyframes favorite {
  0% { background-color: $primary-color;

  }
  100% {
    background: linear-gradient($secondary-color, $primary-color);
  }
}

.footer {
  background-color: $paler-dark-color;
  color: white;
  height: 142px;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;

  &__logo {
    @include font-logo(18px);
    text-align: left;
    vertical-align: text-top;
    width: 137px;
    height: 27px;
    margin-bottom: 16px;
  }

  &__nav,
  &__navsection {
    display: flex;
    flex-direction: column;
    gap: 7px;

  }
  &__link {
    .footer__icon{
        width: 12px;
        margin-right: 9px;
    }

    &--medium {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
    }

    &--regular {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
