//******cta button******//

$button-width-explore: 218px;
$button-width-order: 186px;
$button-transition: opacity 250ms ease-in-out;


@mixin cta-button {
  @include flex-param(row, center, center, 0px);
  @include text-font($font-medium, 16px);
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($secondary-color, $primary-color);
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  color: white;
  position: relative;
  z-index: 1;
}

@mixin cta-button-hover-after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  background: linear-gradient(lighten($secondary-color, 4), lighten($primary-color, 4));
  filter: drop-shadow( 0 4px 10px rgba(0, 0, 0, 0.35));
  transition: $button-transition;
}


.cta__button {
  @include cta-button;

  &--explore {
    width: $button-width-explore;
  }

  &--order {
    width: $button-width-order;
  }

  &:hover{
    &::after {
      opacity: 1;
    }
  }

  &:not(:hover){
    &::after {
     opacity: 0;
     transition: $button-transition;
    }
  }

  &::after {
     @include cta-button-hover-after;
  }
}
