* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

/*Google fonts imports */
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

/*** ***/
.header {
  height: 63px;
  background-color: white;
  padding: 0 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);
}
.header .header__goback {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__logo {
  text-align: center;
  height: 36px;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  padding: 0 17.5px;
  flex-grow: 1;
}

.location {
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);
}
.location .location__icon {
  width: 12px;
  height: 16px;
  display: flex;
}
.location .location__text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cta {
  padding-top: 39px;
  padding-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta .cta__title {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.cta .cta__text {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 35px;
  text-align: center;
}
.cta .cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 10px);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footer {
  background-color: #353535;
  color: white;
  height: 186px;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
}
.footer .footer__logo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  text-align: top left;
  width: 137px;
  height: 27px;
  margin-bottom: 16px;
}
.footer .footer__nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .footer__navsection {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .footer__nav a {
  display: flex;
  align-items: center;
}

.restaurants {
  background-color: #F3F3F3;
  padding-bottom: 66px;
  padding-top: 56px;
  padding-right: 17px;
  padding-left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.restaurants .restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 23px;
  padding-left: 3px;
  align-self: self-start;
}
.restaurants .restaurants-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.restaurants .restaurants-section .restaurants-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
}
.restaurants .restaurants-section .restaurants-card .restaurants-card__image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */