* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

/*** ***/
.loader {
  font-family: "Shrikhand", serif;
  font-size: 20rem;
  background-color: white;
  width: 100%;
  height: 100%;
}

.header {
  padding-left: 17px;
  padding-right: 17px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 63px;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 2px 4px);
}
.header__goback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 30px;
  width: 30px;
}
.header__goback--homepage {
  display: none;
}
.header__logo {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  text-align: center;
  height: 36px;
  padding: 0 17.5px;
  flex-grow: 1;
}

.location {
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 4px);
}
.location__icon {
  width: 12px;
  height: 16px;
  display: flex;
}
.location__text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.cta {
  padding-left: 17px;
  padding-right: 17px;
  background-color: #F3F3F3;
  padding-top: 39px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  text-align: center;
}
.cta__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  padding-bottom: 20px;
}
.cta__text {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  padding-bottom: 35px;
}
.cta__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 4px 10px);
  color: white;
  position: relative;
  z-index: 1;
}
.cta__button:hover::after {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.cta__button:not(:hover)::after {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.cta__button::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 25px;
  background: linear-gradient(#ff8de0, #9e67e0);
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0 4px 10px);
}

.function {
  padding-left: 17px;
  padding-right: 17px;
  background-color: white;
  padding-top: 52px;
  padding-bottom: 67px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 25px;
}
.function__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  height: 31px;
  text-align: start;
  vertical-align: top;
}
.function__steps {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  gap: 24px;
  margin-left: 12px; /*offsets the number*/
  margin-right: 3px;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 0px;
  background-color: #F6F6F6;
  border-radius: 20px;
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 4px 4px);
  position: relative;
  width: 100%;
  height: 72.38px;
}
.step__number {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  height: 24px;
  width: 24px;
  position: absolute;
  left: -12px;
}
.step__icon {
  color: #7E7E7E;
  position: absolute;
  left: 37px;
  font-size: 17.5px;
}
.step__icon--focus {
  color: #9356DC;
}
.step__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  left: 75px;
}

.restaurants {
  padding-left: 17px;
  padding-right: 17px;
  background-color: #F3F3F3;
  padding-bottom: 66px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 18px;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 23px;
  padding-left: 3px;
  align-self: self-start;
}
.restaurants__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 18px;
}

.restaurants-card {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 0px;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 4px 4px);
  /*&__fav {
    padding-top: 7px;
    padding-right: 24px;
    width: 22px;
    height: 21px;
    position: absolute;
    &--inactive {
      opacity: 1;//change this back to 1 when needed
      z-index: 1;
      position: relative;
      top: 0;
      left: 0;
      //trying something here, remove later
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      &:hover {
        opacity: 0;
      }
    }
    &--active {
      opacity: 0;
      z-index: 2;
      position: relative;
      top: 0;
      left: -27px;
      color:white;
        &:hover {
        //animation: favorite 2s;
          opacity: 1;
          background-clip: content-box;
          color: white;
          // IMPORTANT MAKES BORDER

          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          color:#9356DC;
          //
    }
    }

  } THIS!! Except with the right gradient, and combined with the built(in before
    &inactive {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
      background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
      background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }*/
}
.restaurants-card__image {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-card__image--new {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  top: 17px;
  right: 12px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.restaurants-card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  width: 100%;
  height: 77px;
}
.restaurants-card__text {
  padding-left: 14px;
}
.restaurants-card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 5px;
}
.restaurants-card__location {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.restaurants-card__fav {
  padding-top: 7px;
  padding-right: 24px;
  width: 22px;
  height: 21px;
}

@keyframes favorite {
  0% {
    background-color: #9356DC;
  }
  100% {
    background: linear-gradient(#FF79DA, #9356DC);
  }
}
.footer {
  background-color: #353535;
  color: white;
  height: 142px;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  text-align: left;
  vertical-align: text-top;
  width: 137px;
  height: 27px;
  margin-bottom: 16px;
}
.footer__nav, .footer__navsection {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link .footer__icon {
  width: 12px;
  margin-right: 9px;
}
.footer__link--medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.footer__link--regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */